<!-- <img id="bg" src="<%= @screenshot.image %>" alt="screenshot"> -->
<%= image_tag "#{@screenshot.id - 1}.png", id: "bg" %>
<div id="canvas" tabindex="1" data-screenshotId="<%= @screenshot.id %>">
    <% @screenshot.pieces.each do |p| %>
        <div class="rectangle <%= Type.find(p.type_id).color %>" 
             style="left: <%= p.left%>px; top: <%= p.top%>px; width: <%= p.width %>px; height: <%= p.height%>px;"
             data-pieceId="<%= p.id %>">
            <span class="btn remove"></span>
            <span class="btn color bg-<%= (Type.find(p.type_id).color[3].to_i + 1) % 5 %>"></span>
        </div>
    <% end %>
</div>